
#wrapper{
    width: 100%;
    
}
#nav-title{
    padding-bottom: 10px;
  
}

footer {
    left: 0;
    right: 0;
    position: absolute;
    
    
}

#aboutmefooter{
    position: relative;
}

.work1{
    line-height: 30px;
    border-bottom: none;
    padding-top: 50px;
    border-bottom: none;
    border-left: 2px solid #6C8193;
    padding-left: 15px;
    text-align: left;
    
}
.work2{
    line-height: 30px;
    border-bottom: none;
    padding-top: 50px;
    border-bottom: none;
    border-left: 2px solid #6C8193;
    padding-left: 15px;
    text-align: left;
             
}



.work1 p, .work2 p{
    
    padding-right: 10px;
}


.aboutmetext p{
    text-align: center;
    
}
#langaradiv{
    margin-right: 20px;
    margin-left: 20px;
}
.moreflex{
    flex-direction: column;
    
}
aside{
   
    padding-top: 0px;
    order: 2;
    
}
.moreflex main {
    padding-right: 50px;
    order: 1;
    
    
}
#tabulardata{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    margin-bottom: 25px;
    order: 3;

}
figure{   
    margin: 50px;
}

.computers{
    padding-top: 0px; 
}

.computers p{
    margin-bottom: 0px;
    padding-bottom: 5px;
}
.computers h2 {
    margin-top: 50px ;
    margin-bottom: 0px ;
    color: #81936C;
}
.computers h4{
    margin-top:20px ;
    margin-bottom:20px ;
}

textarea{
    width: 175px;
}